<mat-toolbar color="primary">
	<button mat-icon-button routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
	Eneko y Unai
	<span class="flex"></span>
	<button mat-icon-button (click)="addUser()">
		<mat-icon>add_circle</mat-icon>
	</button>
</mat-toolbar>

<table mat-table [dataSource]="users">
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef>Id</th>
		<td mat-cell *matCellDef="let element">{{element.id}}</td>
	</ng-container>

	<ng-container matColumnDef="username">
		<th mat-header-cell *matHeaderCellDef>Usuario</th>
		<td mat-cell *matCellDef="let element">{{element.username}}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Nombre</th>
		<td mat-cell *matCellDef="let element">{{element.name}}</td>
	</ng-container>

	<ng-container matColumnDef="isAdmin">
		<th mat-header-cell *matHeaderCellDef>Admin</th>
		<td mat-cell *matCellDef="let element">{{ element.isAdmin ? 'Si' : 'No'}}</td>
	</ng-container>

	<ng-container matColumnDef="options">
		<th mat-header-cell *matHeaderCellDef>Opciones</th>
		<td mat-cell *matCellDef="let element">opciones</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
