.form {
	width: 90%;
	position: fixed;
	background-color: #fff;
	left: 0;
	top: calc(50% - 150px);

	.form-field {
		width: 100%;
	}

	.action-buttons {
		display: flex;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 900px) {
	.form {
		width: 30%;
		left: 35%;
	}
}