<mat-toolbar color="primary">
	<button mat-icon-button
			routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
	Eneko y Unai
	<span class="flex"></span>
	{{name}}
</mat-toolbar>

<button mat-raised-button
		color="primary"
		(click)="addNew()"
		class="add-button"
		[disabled]="uploading">Añadir</button>
<input type="file"
	   name="add-files"
	   id="add-files"
	   class="add-files"
	   accept="image/*, video/*"
	   (change)="onFileChange($event)"
	   multiple>

@if (list.length>0) {
<mat-card class="images">
	<mat-card-content>
		@for (upload of list; track upload.creationDate; let i = $index) {
		<div class="upload">
			<img [src]="upload.src"
				 alt="">
			<mat-form-field>
				<input matInput
					   [matDatepicker]="picker"
					   [placeholder]="'Foto ' + (i  +1)"
					   [(ngModel)]="upload.creationDate"
					   [disabled]="uploading">
				<mat-datepicker-toggle matSuffix
									   [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			@if (upload.status === 'done') {
			<div class="done">
				<mat-icon>done</mat-icon>
			</div>
			}
			@if (upload.status=='no' && !uploading) {
			<div class="delete"
				 (click)="deletePhoto(i)">X</div>
			}
			@if (upload.status === 'uploading') {
			<div class="overlay"></div>
			}
			@if (upload.status === 'uploading') {
			<div class="uploading"
				 [ngStyle]="{'width': upload.uploaded+'%'}"></div>
			}
		</div>
		}
	</mat-card-content>
</mat-card>
}

@if (list.length>0) {
<mat-card class="tags">
	<mat-card-header>
		<mat-card-title>Etiquetas</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-form-field class="tags-field">
			<mat-label>Etiquetas</mat-label>
			<input matInput
				   [(ngModel)]="tags"
				   [disabled]="uploading">
		</mat-form-field>
	</mat-card-content>
</mat-card>

<button mat-raised-button
		color="primary"
		(click)="start()"
		class="add-button"
		[disabled]="uploading">Subir fotos seleccionadas</button>
}