<mat-toolbar color="primary">
	<button mat-icon-button routerLink="/">
		<mat-icon>arrow_back</mat-icon>
	</button>
	Eneko y Unai
	<span class="flex"></span>
	{{name}}
</mat-toolbar>

<button mat-raised-button color="primary" (click)="addNew()" class="add-button">Añadir</button>
<input type="file" name="add-files" id="add-files" class="add-files" accept="image/*, video/*" (change)="onFileChange($event)" multiple>

<mat-card class="images" *ngIf="list.length>0">
	<mat-card-content>
		<div class="upload" *ngFor="let upload of list">
			<img [src]="upload.src">
			<div *ngIf="upload.status=='done'"class="done">
				<mat-icon>done</mat-icon>
			</div>
			<div *ngIf="upload.status=='no'"class="delete">X</div>
			<div *ngIf="upload.status=='uploading'" class="overlay"></div>
			<div *ngIf="upload.status=='uploading'" class="uploading" [ngStyle]="{'width': upload.uploaded+'%'}"></div>
		</div>
	</mat-card-content>
</mat-card>

<button mat-raised-button color="primary" (click)="start()" class="add-button" [disabled]="list.length==0 || uploading">Subir fotos seleccionadas</button>