:root {
	--bg-color: #fafafa;
	--color-blue: #3f51b5;
	--color-white: #fff;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: var(--bg-color);
}

.header {
	background-color: var(--color-blue) !important;
	color: var(--color-white) !important;

	button {
		color: var(--color-white) !important;
	}
}

.full-height {
	height: 100%;
}

.flex {
	flex: 1;
}

.button-icon {
	width: 24px;
}