<mat-drawer-container [hasBackdrop]="true" class="full-height">
	<mat-drawer-content>
		<mat-toolbar color="primary">
			Eneko y Unai
			<span class="flex"></span>
			<button mat-icon-button (click)="drawer.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
		</mat-toolbar>

		<div class="images">
			<div *ngFor="let photo of list" class="image">
				<a [routerLink]="['/photo', photo.id]">
					<picture>
						<source media="(max-width: 767px)" [srcset]="photo.thumb">
						<source media="(min-width: 768px)" [srcset]="photo.img">
						<img [src]="photo.img">
					</picture>
				</a>
			</div>
		</div>
	</mat-drawer-content>
	<mat-drawer #drawer mode="push" position="end">
		<mat-nav-list>
			<a mat-list-item routerLink="/add">Añadir</a>
			<a mat-list-item *ngFor="let tag of tags" (click)="selectTag(tag)">{{tag.tag}}</a>
		</mat-nav-list>
	</mat-drawer>
</mat-drawer-container>
